<head>
  <link rel="stylesheet" href="/backgrounds.css">
</head>
<h1>Your Forms</h1>

<% if (!forms.length) { %>
  <p>You haven't created any forms yet.</p><br>
  <a href="/create"><button>Create New Form</button></a><br>
<% } %>

<% forms.forEach(f => { %>
  <div class="card">
    <strong><%= f.title %></strong><br>
    <% if (f.private) { %><em>Restricted to members only</em><br><% } else { %><em>Public</em><br><% } %>

    Panel: <a href="/panel/<%= f.id %>">View</a><br>
    Public Link: <code>http://localhost:3333/form/<%= f.id %></code><br><br>

    <form action="/delete/<%= f.id %>" method="POST" onsubmit="return confirm('Delete this form?')">
      <button class="danger">Delete</button>
    </form>
  </div>
<% }) %>