<h1>Register</h1>

<form method="POST">
  <input name="username" required placeholder="Username"><br>
  <input name="email" required type="email" placeholder="Email"><br>
  <input name="password" required type="password" placeholder="Password"><br>
  <button>Register</button>
</form>

<% if (typeof error !== 'undefined') { %><p style="color:red"><%= error %></p><% } %>