.card {
  background: var(--card-background);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

button {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
}

button.danger {
  background: #dc3545; /* Red */
}

button.danger:hover {
  background: #c82333; /* Darker Red */
}

menu {
  display: flex;
  justify-content: space-around;
  margin-top: -0.5rem;
}